.services {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
  }
  
  .services h1 {
    background-color: #ffffff;
    background: linear-gradient(
      to right,
      #1aff00,
      #9afa89
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline;
    text-decoration-color: #00e61f;
  }
  
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #0d0d0d 0%, #0b6e2d 100%);
    transition: 0.3s ease-in;
  }
  
  .services__card:nth-child(2) {
    background: #ffffff;
    background-image: linear-gradient(to right, #0d0d0d 0%, #0b6e2d 100%);
  }
  
  .services__card:nth-child(3) {
    background-image: linear-gradient(to right, #0d0d0d 0%, #0b6e2d 100%);
  }

  .services__card:nth-child(4) {
    background-image: linear-gradient(to right, #0d0d0d 0%, #0b6e2d 100%);
  }
  
  .services__card h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
  }
  
  .services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    padding: 10px;
  }
  
  .services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .services__card button:hover {
    cursor: pointer;
  }
  
  .services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }
  