* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.main {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

.hero {
  background: #663838;
  background: linear-gradient(to right, #161616, #000000);
  padding: 20px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 70px;
  margin-bottom: 24px;
  color: #fff;
}

h1 {
  background-color: rgb(46, 46, 46);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.hero__heading span {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0ade1f,
    #06a24a
  ); 
  background: linear-gradient(
    to right,
    #0ade1f,
    #06a24a
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.hero__description {
  margin-top: 35px;
  font-size: 30px;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #d6d6d6
  );
  background: linear-gradient(
    to right,
    #ffffff,
    #d6d6d6
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(8, 248, 60);
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: rgb(208, 208, 208);
  width: 100%;
}

.main__content h1 {
  position: relative;
  right: 15px;
  top: 4px;
  font-size: 2rem;
  background-color: #000000;
  background-image: linear-gradient(to top, #02d74d 0%, #017132 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
position: relative;
font-size: 2.5rem;
cursor: pointer;
}

.main__content span {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #868686
  );
  background: linear-gradient(
    to right,
    #000000,
    #909090
  );
  background-size: 100%;
  font-family: 'Press Start 2P', cursive;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content span:hover {
  background: #1eff00;
  background: -webkit-linear-gradient(
    to right,
    #1eff00,
    #1eff00
  );
  background: linear-gradient(
    to right,
    #1eff00,
    #1eff00
  );
  background-size: 100%;
  font-family: 'Press Start 2P', cursive;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  
}

.main__content p {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #4f4f4f,
    #767676
  );
  background: linear-gradient(
    to right,
    #4f4f4f,
    #767676
  );
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 420px;
  width: 420px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}



@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

.container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 56%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color: #00f842;
  border: 1px solid #030704;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: transparent;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
}